body{ margin: 0; padding:0;}

@font-face {
    font-family: "Comfortaa";
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf');
}

h1{ 
	color: white;
	font-family: "Comfortaa", sans-serif;
	text-align: center;
	border: 6px solid white;
 	border-radius: 10px;
 	padding: 10px 16px;
 	display: inline-block;
 	font-weight: bold;
 	font-size: 60px;
 	margin: 0;
 }

 h2,h3, h4, h5, h6{font-family: "Comfortaa", sans-serif;}

 h2{ margin-top: 50px; color: #072E56;}

 h3{ margin-top: 30px; }



 header{ 
 	padding: 55px; 
 	background: #072E56;
 	text-align: center;

 }

 article{ 
 	padding: 10px 60px;
 	width: 80%;
 	margin: 0 auto;
 	font-family: 'Open Sans', sans-serif;
 }

 .ingress{ margin-top: 30px;  font-size: 22px; text-align: justify;}

 iframe{ width: 1000px;  height: 564px; display: block; margin: 0 auto; border: 2px solid #072E56; border-radius: 3px;}

img{ width: 1000px; display: block; margin:10px auto;}

 .bash .de1,.bash .de2{font:normal normal 1em/1.2em monospace;margin:0;padding:0;background:none;vertical-align:top;}
 .bash{font-family:monospace; background: #eee; padding: 10px; border: 1px solid #ccc; border-radius: 3px;}
 .bash .imp{font-weight:bold;color:red;}.bash li,.bash .li1{font-weight:normal;vertical-align:top;}.bash 
 .ln{width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}.bash .li2{font-weight:bold;vertical-align:top;}
 .bash .kw1{color:#000;font-weight:bold;}.bash .kw2{color:#c20cb9;font-weight:bold;}.bash .kw3{color:#7a0874;font-weight:bold;}
 .bash .co0{color:#666;font-style:italic;}.bash .co1{color:#800000;}.bash .co2{color:#c00;font-style:italic;}
 .bash .co3{color:#000;font-weight:bold;}.bash .co4{color:#666;}.bash .es1{color:#009;font-weight:bold;}
 .bash .es2{color:#007800;}.bash .es3{color:#007800;}.bash .es4{color:#007800;}.bash .es5{color:#780078;}
 .bash .es_h{color:#009;font-weight:bold;}.bash .br0{color:#7a0874;font-weight:bold;}.bash .sy0{color:#000;font-weight:bold;}
 .bash .st0{color:#f00;}.bash .st_h{color:#f00;}.bash .nu0{color:#000;}.bash .re0{color:#007800;}.bash .re1{color:#007800;}
 .bash .re2{color:#007800;}.bash .re4{color:#007800;}.bash .re5{color:#603;}.bash .ln-xtra,.bash li.ln-xtra,
 .bash div.ln-xtra{background-color:#ffc;}.bash span.xtra{display:block;}