body{ margin: 0; padding:0;}

@font-face {
    font-family: "Comfortaa";
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf');
}

h1{ 
	color: white;
	font-family: "Comfortaa", sans-serif;
	text-align: center;
	border: 6px solid white;
 	border-radius: 10px;
 	padding: 10px 16px;
 	display: inline-block;
 	font-weight: bold;
 	font-size: 60px;
 	margin: 0;
 }

 h2,h3, h4, h5, h6{font-family: "Comfortaa", sans-serif;}

 h2{ margin-top: 50px; color: #c00;}

 h3{ margin-top: 30px; }



 header{ 
 	padding: 55px; 
 	background: #c00;
 	text-align: center;

 }

 article{ 
 	padding: 10px 60px;
 	width: 80%;
 	margin: 0 auto;
 	font-family: 'Open Sans', sans-serif;
 }

 .ingress{ margin-top: 30px;  font-size: 22px; text-align: justify;}